<div class="tech-btm">
	<p>Teknoloji, yazılım ve diğer bloglar... </p>
	<form action="/NewsLetter/SubscribeMail/" method="post">
		<input type="email" placeholder="E-mail" required="" name="Mail">
		<input id="subscribeBtn" type="submit" value="Abone Ol">
	</form>

</div>
<script src="~/web/js/jquery-2.2.3.min.js"></script>
<script>
   // $(document).ready(function () {
   //     $('#subscribeBtn').click(function (e) {
			//e.preventDefault();
   //         swal({ title: "Başarılı", text: "Abone olundu", button: "Tamam", icon:"success" });
   //     });
   // });

</script>